footer {
    padding-top: 10px;
    border-top: 1px solid $grey-color-light;
}

dt {
    font-weight: bolder;
    margin-bottom: 0.3em;
}

dd + dt {
    margin-top: 1.7em;
}

.task-list-item-checkbox {
    margin-right: 10px;
}